[Unit]
Description=Apply NVIDIA GPU undervolt after resume
After=nvidia-resume.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/local/bin/nvidia-device-undervolt

[Install]
WantedBy=suspend.target
