[Unit]
Description=Apply NVIDIA GPU undervolt after resume
After=nvidia-resume.service
Requires=nvidia-resume.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-device-undervolt

[Install]
WantedBy=suspend.target
