[Unit]
Description=NVIDIA GPU Undervolt
After=graphical.target nvidia-persistenced.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-device-undervolt
ExecStop=/usr/local/bin/nvidia-device-reset
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
