[Unit]
Description=Reset NVIDIA GPU before suspend
Before=systemd-suspend.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-device-reset

[Install]
WantedBy=systemd-suspend.service
WantedBy=systemd-hibernate.service
WantedBy=systemd-suspend-then-hibernate.service
