[Unit]
Description=NVIDIA GPU Undervolt
After=nvidia-persistenced.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nvidia-device-undervolt
ExecStop=/usr/local/bin/nvidia-device-reset
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
